.description-btn{
    margin: 2rem 1rem;
    padding: 2rem;
    height: 5.5rem;
    border-radius: 2.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.description-btn__title{
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 4rem;
}

.description-btn__description{
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 4rem;
    width: 0%;
}

.description-btn__toggle-btn{
    background-color: var(--mark-color);
    color: white;
    border: none;
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    position: absolute;
    right: 1rem;
}

.description-btn__toggle-btn:active{
    background-color: var(--base-color);
}

.base-btn{
    background-color: var(--base-color);
    color : var(--modify-white);
}