.hs__nav{
    background-color: #1c313a;
    width : 100vw;
}

.nav__wrap,
.nav__menu,
.nav__logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    color : white;
    font-size: 1.5rem;
    margin: 2rem 1.5rem;
}
.nav__logo-set > span {
    margin: 0rem 0.5rem;
}

.nav__pop{
    display : none;
}

#nav__pop-btn{
    border : 1px solid orange;
    border-radius: 0.3rem;
    margin-right : 1.5rem;
    padding : 0.1rem 0.5rem;
    color : orange;
}


.logo__img > img {
    width: 1.5rem;
    height: 1.5rem;
}

.menu__item{
    color : white;
    margin: 1rem;
}


.nav__social{
    color : white;
    margin : 1rem;
}

#social__twitter{
    margin : 1rem 0.5rem 1rem 1.5rem;
}
#social__facebook{
    margin : 1rem 1.5rem 1rem 0.5rem;
}

@media screen and (max-width : 800px) {
    .nav__wrap{
        flex-direction: column;
    }
    .nav__logo{
        width: 100vw;
    }
    
    .nav__menu{
        display: none;
        flex-direction: column;
    }
    .nav__social
    {
        display: none;
        justify-content: center;
        width: 100vw;
    }
    .nav__menu.active,
    .nav__social.active{
        display: flex;
    }

    .nav__pop{
        display : block;
    }
}